*{
    padding: 0;
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 340;
    font-style: normal;
}
/* CONTAINER */
.container{
    display: grid; 
    grid-template-columns: 10% 45% 35% 10%;    
}   
#tittle{
    color: rgba(4, 4, 5, 0.6);
    font-size: 1.5rem;
    grid-column: 2/4;
}

/* HEADER */
header{
    margin-top: 30px;
    background-color: #e4e4e4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 4rem;
    margin-bottom: 50px;
    grid-column: 1/4;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
nav ul li{
    padding: 15px;
    opacity: 0.7;
    cursor: pointer;
    font-size: 1.2rem;
}
nav ul li:hover{
    opacity: 1;
}


#janelscroll{
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: grid;
    height: 25rem;
    width: 35rem;
    grid-column: 2;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#janel-imgs img{
    display: block;
    height: 25rem;
    width: 35rem;
}
#textSection{
    grid-column: 3;
    text-align: left;
    display: flex;
    justify-content: center;
}
.textSection{
    display: none;
}
#textSection p{
    font-size: 1.3rem;
    color: rgba(4, 4, 5, 0.7)
}  

/* FOOTER */
footer{
    position: fixed;
}
#logo{
    position: fixed;
    margin-top: 35%;
    margin-left: 30px;
    width: 70px;
    height: 70px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}