*{
    padding: 0;
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 340;
    font-style: normal;
}
body{
    background-color: #ecececbb;
}
b{
    font-weight: 500;  
}
/* CONTAINER */
.container{
    display: grid; 
    grid-template-columns: 10% 45% 35% 10%;    
}   
#tittle{
    color: rgba(4, 4, 5, 0.6);
    font-size: 1.5rem;
    grid-column: 2/4;
    margin-top: 50px;
    margin-bottom: 50px;

}

/* HEADER */
header{
    margin-top: 30px;
    background-color: #e4e4e4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 4rem;
    grid-column: 1/4;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
nav ul li{
    padding: 15px;
    opacity: 0.7;
    cursor: pointer;
    font-size: 1.2rem;
}
nav ul li:hover{
    opacity: 1;
}

/* Fim header */

/* Inicio janela scroll *top 5* */
#janelscroll{
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: grid;
    height: 25rem;
    width: 35rem;
    grid-column: 2;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#janel-imgs img{
    cursor: pointer;
    display: block;
    height: 25rem;
    width: 35rem;
}
#textSection{
    grid-column: 3;
    text-align: left;
    display: flex;
    justify-content: center;
}
.dNone{
    display: none;
}
#textSection p{
    font-size: 1.3rem;
    color: rgba(4, 4, 5, 0.7)
}  
/* fim janela scroll */

/* FORMULA 1 */
#formula-1{
    grid-column: 2/4;
    display: flex;
    gap: 50px;
}
#f1{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 450px;
    height: 280px;
    border-radius: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative; 
}

.fade-in {
    opacity: 1; 
    transform: translateX(0);
    width: 500px;
    height: 300px;
}

.fade-out {
opacity: 0; 
}
/* fim fórmula 1 */

/* tendencias */
.tendencias{
    grid-column: 2/4;
}
.tendencias-imgs img{
    grid-column: 3/4;
    width: 700px;
    height: 400px;
}
/* fim tendencias */
/* FOOTER */
footer{
    position: fixed;
}
#logo{
    position: fixed;
    margin-top: 35%;
    margin-left: 30px;
    width: 70px;
    height: 70px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
